@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* Nun erst andere globale Variablen */
:root {
  --font-raleway: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-raleway);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.bg-blue-pattern {
  background: linear-gradient(45deg, #3b82f6 50%, #ffffff 50%);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  background: rgba(255, 255, 255, 0.95);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 75%;
}